mat-icon {
  margin-right: 1.2rem;
}
.controlers-wrapper > * {
  width: 100%;
  padding: 0;
}
.misc-bottom-padding {
  margin: .8rem 0 1rem;
}
.misc-bottom-padding mat-label {
  margin-right: 1.5rem;
}
mat-radio-group mat-radio-button {
  margin-left: .5rem;
  margin-right: 2.5rem;
}
.button-wrapper button {
  margin-right: .5rem;
}
.inner-wrapper {
  padding: 1.5rem 0 13rem;
  width: 100%;
}
.inner-wrapper mat-card {
  display: inline-block;
  margin: 0 6% 0 0;
  vertical-align: top;
  width: 44%;
}
.multiple-items {
  position: relative;
}
.multiple-items .tooltip-info {
  right: 0;
  top: .7rem;
  cursor: pointer;
  color: #a1a7c7;
  position: absolute;
  font-size: 2rem;
}
.button-wrapper {
  margin: 2rem 0 0 0;
}
@media (max-width: 1024px) {
  .inner-wrapper mat-card {
    width: 100%;
  }
  .misc-bottom-padding mat-label {
    display: block;
  }
}
