mat-icon {
  margin-right: 12px;
}
.mat-radio-button,
.mat-radio-group {
  margin-right: 25px;
}
.controlers-wrapper > * {
  width: 100%;
  padding: 0;
}
.misc-bottom-padding {
  margin: 8px 0 10px;
}
.misc-bottom-padding mat-label {
  margin-right: 15px;
}
mat-radio-group mat-radio-button {
  margin-left: 5px;
}
.button-wrapper button {
  margin-right: 5px;
}
.inner-wrapper {
  padding: 15px 0 130px;
  width: 100%;
}
.inner-wrapper mat-card {
  display: inline-block;
  margin: 0 6% 0 0;
  vertical-align: top;
  width: 44%;
}
.full-wrapper {
  width: 100%;
}
.multiple-items {
  position: relative;
}
.multiple-items .tooltip-info {
  right: 0;
  top: 7px;
  cursor: pointer;
  color: #a1a7c7;
  position: absolute;
  font-size: 20px;
}
.button-wrapper {
  margin: 20px 0 0 0;
}
@media (max-width: 1024px) {
  .inner-wrapper mat-card {
    width: 100%;
  }
  .misc-bottom-padding mat-label {
    display: block;
    padding-bottom: 10px;
  }
}
