<mat-toolbar color="primary">
  <span>Student Records</span>
  <span class="example-spacer"></span>
  <div (click)="toggle()" class="hamburger">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
  </div>
</mat-toolbar>
