mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  height: 5rem;
}
.example-spacer {
  flex: 1 1 auto;
}
.hamburger {
  visibility: hidden !important;
  cursor: pointer;
  margin-right: 1.2rem;
}
.line{
  height: .2rem;
  width: 2rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: .4rem;
}
.line-1 {
  width: 1rem;
  transition: width 0.4s;
}
.line-3 {
  width: 1.3rem;
  transition: width 0.4s;
}
.hamburger:hover .line{
  width: 2rem;
}
@media (max-width: 767px) {
  .hamburger {
    visibility: visible !important;
  }
}
