html,
body {
  height: 100%;
  margin: 0;
}
html{
  // 1rem ≙ 16 pixel by (browser)default
  // but I want 1rem to be 10 pixel
  // calculation: 10/16 = 0.625 * 100 => 62.5%
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}