<mat-sidenav-container>
  <!-- prettier-ignore -->
  <mat-sidenav
    #sidenav
    [mode]="mode$ | async"
    [opened]="navBarVisibilityState$ | async"
    [fixedInViewport]="false"
    [fixedTopGap] >
    
    <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="add-student">
            <mat-icon>add</mat-icon> Add Student
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="student-list">
            <mat-icon>format_list_bulleted</mat-icon> View Students
        </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
