.mat-sidenav-container {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
  }
  .mat-nav-list .mat-list-item {
    font-size: 15px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .user-profile {
    margin-left: 15px;
    cursor: pointer;
  }
  .mat-sidenav,
  .mat-sidenav-content {
    width: 100%;
    padding: 15px;
  }
  .mat-list-item.active {
    background: rgba(0, 0, 0, 0.04);
  }
  .mat-sidenav-content {
    padding: 25px 40px 0;
  }
  .mat-sidenav {
    background-color: #f2f2f2;
    width: 250px;
    // position: sticky;
    // margin-top: 5rem;
  }
  mat-sidenav {
    margin-right: 12px;
    // border: 5px solid red;
  }
  @media (max-width: 1024px) {
    .mat-sidenav-content {
      padding: 20px 20px 0;
    }
  
    .mat-sidenav {
      width: 230px;
    }
    .mat-nav-list .mat-list-item {
      font-size: 14px;
    }
  }
  @media (max-width: 767px) {
    .nav-tool-items {
      margin-right: 0;
    }
  }
  