.container {
  display: flex;
  background-color: #333;
  color: white;
  width: 100%;
  justify-content: space-between;
}
.left-orientation {
  display: inline-flex;
}
.right-orientation {
  display: inline-flex;
}
a {
  text-decoration: none;
  color: white;
  padding: 1rem 1.2rem;
}
a:hover:not(.about) {
  background-color: rgb(245, 13, 13);
}
.about {
  background-color: #4caf50;
}
.left-orientation > a {
  border-right: 0.1rem solid #bbb;
}
.right-orientation > a {
  border-left: 0.1rem solid #bbb;
}