<div class="container">
  <div class="left-orientation">
    <a routerLink="/student-management-home">Student Management</a>
  </div>
  <div class="right-orientation">
    <a routerLink="/login">Login</a>
    <a class="about" href="#about">About</a>
  </div>
</div>
